/*****************************************************************************/
/* CSS RESET STYLES */
/*****************************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 1rem 0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*****************************************************************************/
/* GENERAL STYLES */
/*****************************************************************************/
body {
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 5rem;
}

.icon {
    width: 2rem;
}

.navbar-side {
    margin-left: 18rem;
}

.side-nav {
    list-style-type: none;
    display: flex;
    gap: 2rem
}

.side-nav-item {
    align-self: center;
}

.elemental-logo {
    width: 10rem;
    margin-right: 10rem;
}

header {
    display: flex;
    margin-bottom: 1rem;
}

.hero-img {
    width: 100vw;
    filter: grayscale(60%);
}


.heading {
    position: absolute;
    right: 12%;
    top: 40%;
    color: white;
    text-transform: uppercase;
}

.preheading, .mainheading {
    letter-spacing: 0.1rem;
}

.mainheading {
    font-size: 6rem;
    font-weight: 400;
}

.hero-img {
    height: 70vh
}

.info-label {
    text-transform: uppercase;
    display: block;
}

.hours-and-address {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.information {
    border-left: 5px solid #FFA726;
    padding-left: 4rem;
    margin-left: 7rem;
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../font/montserrat-v26-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../font/montserrat-v26-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../font/montserrat-v26-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/*****************************************************************************/
/* FORM STYLES */
/*****************************************************************************/

h2 {
    margin: 1rem;
    font-size: xx-large;
}

.name,
.phone-email,
.message {
    color: #777777;
}

.name,
.phone-email,
.dropdown,
.message {
    font-size: 20px;
    margin: 1rem;
}

.phone-email {
    display: block;
}